.container {
  width: 80%;
  margin: 0 auto;
}
.table__container {
  width: 100%;
  text-align: center;
  font-family: 'BioRhyme', serif;
}

.table__head--item {
    padding: 2em;
    background:#e8e8e8;
}
.table__item {
    padding: 2em;
}
.table__row--item:nth-child(even) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #c6c6c6;
}