<section class="maintane">
  <h1>WeBuild</h1>
  <h2 class="subtitle">We're working hard to improve our website and we'll ready to launch after</h2>
  <div id="countdown">00 weeks 00 days <br> 00:00:00</div>
  <div class="social">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>

</section>