@import '../../app.component.scss';
.customer__card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  font-family: sans-serif;
}

.customer__card--item {
  background-color: #f1f1f1;
  width: 20%;
  margin: 10px;
}
